**/target/
/target/
*/target/*
.classpath
.project
.settings
*/tdb/*
*/rdf-files/*
*/data/*

data
rdf/
tdb
rdf-files


# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
/output/
